.main-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.display-card{
  width: 70%;
  background-color: rgb(82, 75, 75);
  margin: 20px;
  padding: 20px;
  border-radius: 20px ;
}
.logo-card{
  display: flex;
  align-items: center;
}
.rating{
  margin: 10px;
  color: gold;

}
.skill-data{
  color: white;
}

.location-emp-lpa{
  display: flex;
  justify-content: space-between;
 
}
.skill{
  display: inline;
  margin: 10px;
  
}
.similar-job-card{
  background-color: rgb(91, 82, 82);
  width: 40%;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.card-box{
  display: flex;
  align-items: center;
 

  
}
.hr-line{
  background-color: white;
}
.job-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}